<button {{action "toggleMenu"}} class="btn-toggle">
    {{#if isOpen}}
        <span class="glyphicon glyphicon-remove"></span>
    {{else}}
        <span class="glyphicon glyphicon-align-justify"></span>
    {{/if}}
</button>

{{yield}}