<div class="btn-group pull-right">
    {{#link-to 'event.index' event.id class="btn btn-default"}} <span class="glyphicon glyphicon-chevron-left"></span> {{/link-to}}
</div>

<h1>{{event.name}} @ {{ event.location.name }}</h1>

<div class="form-group">
    {{view Ember.Select
        content=locations
        optionValuePath="content"
        optionLabelPath="content.name"
        selection=event.location
        prompt="Select location"
        classNames="form-control"
    }}
</div>

<p>
    <img {{ bind-attr src=event.location.mapsLink }} class="img-rounded" width="100%">
</p>
