<h2>{{ event.location.name }}</h2>

<div class="form-group">
    {{view Ember.Select
        content=locations
        optionValuePath="content"
        optionLabelPath="content.name"
        selection=event.location
        prompt="Select location"
        classNames="form-control"
    }}
</div>

<p>
    <img {{ bind-attr src=event.location.mapsLink }} class="img-rounded" width="100%">
</p>
