/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

# Sqlite DB
app/data/*.db3

# Phing auto complete
.phing_targets

# Vagrant stuff
.vagrant
vagrant*
Vagrantfile

node_modules