<form role="form">
    <div class="form-group">
        <label for="name">Name</label>
        {{view Ember.TextField valueBinding="name" class="form-control"}}
    </div>
    <div class="form-group">
        <label for="lat">Latitude</label>
        {{view Ember.TextField valueBinding="lat" class="form-control"}}
    </div>
    <div class="form-group">
        <label for="lng">Longitude</label>
        {{view Ember.TextField valueBinding="lng" class="form-control"}}
    </div>
</form>