<h1>Teams</h1>
{{#link-to 'teams.new' }} Add new {{/link-to}}
<ul>
    {{#each team in controller}}
        <li {{bind-attr class="team.isDirty"}}>
            {{#link-to 'teams.show' team.id}} {{team.name}} {{/link-to}}
            <span>{{#link-to 'teams.edit' team.id}} Edit {{/link-to}}</span>
        </li>
    {{/each}}
</ul>

{{ outlet }}
