@import "mixins";

#the-app {
  .list-group-item {
    overflow: auto;
  }

  .is-present {
    background-color: green;
  }

  .is-absent {
    background-color: red;
  }

  .rotate {
    display: none;
    @include spin(2000ms);

    &.is-saving {
      display: inline-block;
    }
  }
}