@import "mixins";
@import "navigation";

#the-app {
  .navbar-toggle {
    display: block;
  }

  .list-group-item {
    overflow: auto;
  }

  .is-present {
    background-color: green;
  }

  .is-absent {
    background-color: red;
  }

  .rotate {
    display: none;
    @include spin(2000ms);

    &.is-saving {
      display: inline-block;
    }
  }

  .loading {
    margin-top:       40%;

    .spinner {
      position:     relative;
      margin-left:  auto;
      margin-right: auto;
    }
  }

  .center-content {
    text-align: center;
  }
}