{% extends 'AttendeeWebpageBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AttendeeWebpageBundle/Resources/public/js/app/*.coffee'
        '@AttendeeWebpageBundle/Resources/public/js/app/*/*.coffee'
        '@AttendeeWebpageBundle/Resources/public/js/app/*/*/*.coffee'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ render(controller('AttendeeWebpageBundle:App:templates')) }}
{% endblock %}

{% block container %}
    <h1>app</h1>
    <div id="the-app"></div>
{% endblock %}
