<h1>Create new team</h1>

<form role="form">
    <div class="form-group">
        {{view Ember.TextField valueBinding="name" class="form-control" placeholder="Name"}}
    </div>
    <div class="form-group">
    <p><button {{action "createItem" this}} type="button" class="btn btn-primary btn-lg btn-block">Save</button></p>
    </div>
</form>