
<div class="btn-group pull-right clearfix">
    {{#link-to 'teams.create' class="btn btn-default"}} <span class="glyphicon glyphicon-plus"></span> {{/link-to}}
</div>
<h2>&nbsp;</h2>
<div class="list-group events">
    {{#each team in teams}}
        {{#link-to 'team' team classNameBindings=":list-group-item team.isDirty"}}
            <h4 class="list-group-item-heading">{{team.name}}</h4>
            <span class="badge">{{ team.users_count }}</span>
        {{/link-to}}
    {{/each}}
</div>