<h1>Teams</h1>
<div class="list-group events">
    {{#each team in controller}}
        {{#link-to 'team' team classNameBindings=":list-group-item team.isDirty"}}
            <h4 class="list-group-item-heading">{{team.name}}</h4>
            <span class="badge">{{ team.users_count }}</span>
        {{/link-to}}
    {{/each}}
</div>